<div class="ui main text container">
  <div class="ui orange segment">
    <div class="ui aligned basic segment">
      <div class="ui fluid left icon action input">
        <i class="search icon"></i>
        <input [(ngModel)]="inputUrl" type="text" placeholder="Please enter the ASOS URL of the product">
        <div class="ui right labeled input">
          <select [(ngModel)]="chosenCurrency" (change)="SubmitUrl()" class="ui fluid search selection dropdown" #currencyDropdown>
            <option value="">Currency</option>
            <option>GBP</option><!--(£)-->
            <option>USD</option><!--($)-->
            <option>EUR</option><!--(€)-->
            <option>AUD</option><!--($)-->
            <option>ILS</option>  <!--(₪)-->
          </select>


          <div class="ui right labeled input">
            <select [(ngModel)]="chosenScheme" (change)="SubmitUrl()" class="ui fluid search selection dropdown" #schemeDropdown>
              <option value="">Scheme</option>
              <option>UK</option>
              <option>US</option>
              <option>EU</option>
              <option>By Local</option>


            </select>
            <!-- <div class="ui dropdown label" #schemeDropdown>
              <div class="text">Scheme</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">UK</div>
                <div class="item">US</div>
                <div class="item">EUR</div>
              </div>
            </div> -->
            <div class="ui blue submit button" (click)="SubmitUrl()">Search</div>
          </div>

        </div>
      </div>
      <p>
      </p>
      <div *ngIf="notAvailableUrl"  class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Not Avaliable URL!
        </div>
        Please paste the Url from Asos Site! <br>for exmple: <br>http://www.asos.com/gift-republic/gift-republic-dino-soap/prd/9083311?clr=multi&<br>SearchQuery=&cid=18654&gridcolumn=2&gridrow=5&gridsize=4&pge=1&pgesize=72&totalstyles=106
      </div>

      <div *ngIf="!notAvailableUrl" class="ui middle aligned selection divided list">
        <h3 style="color: #cc3300">{{asosInfosList[0].name}}</h3>
        <div class="item" *ngFor="let asosInfo of asosInfosList">
          <div *ngIf="asosInfo">
            <!-- {{asosInfo.siteUrl}} -->
            <a  href={{asosInfo.siteUrl}} target="_blank"><asos-price-segmant [productInformation]="asosInfo" [chosenCurrency]="chosenCurrnecyCopy"></asos-price-segmant></a>
          </div>
        </div>

      </div>
    </div>









  </div>